@model WebFormL1.ViewModel.CommuneViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Xóa thông tin</h1>

<h3>Bạn có chắc muốn xóa thông tin xã/phường này?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DistrictName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DistrictName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProvinceName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProvinceName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Danh sách xã/phường</a>
    </form>
</div>
